@font-face {
  font-family: "Montserrat";
  src: url("/SASS/assets/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/SASS/assets/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
.button {
  background-color: #fff;
  border: 1px solid darkblue;
}
.button:not([disabled]):hover {
  background-color: blue;
}