$font-size: 16px !default; //! Using !default to allow overwriting while importing
$btn-color: white !default;
$btn-bgcolor: hotpink !default;
$btn-border-radius: 15px;
$btn-border: none;
$btn-padding: 10px 20px;